<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spender</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <!-- Style -->
    <link href="/static/css/style.css" rel="stylesheet"></link>
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <!-- Javascript Imports -->
    <!-- FAVICON -->
    <link rel='shortcut icon' href='/static/favicon.ico' type='image/x-icon'/ >

    <link href="{{ url_for('static', filename='css/fullcalendar/fullcalendar.min.css') }}" rel='stylesheet' />
    <link href="{{ url_for('static', filename='css/fullcalendar/fullcalendar.print.css') }}" rel='stylesheet' media='print' />


    {% block headerstuff %}

    {% endblock %}


</head>
<body>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
    </hr>
{% block content %}

{% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
<script src="{{ url_for('static', filename='css/lib/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='css/lib/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/fullcalendar/fullcalendar.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/fullcalendar/my_calendar.js') }}"></script>
</html>
